/* resetCSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
/* -----ここから下に記述してください----- */
html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    width: 100%;
}

.full-inner {
    width: 100vw;
}

.min-inner {
    max-width: 1080px;
    margin: 0 auto;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.5rem;
}

.sec-title::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 20px;
    height: 2px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid;
}
/*ヘッダーここから*/
.header {
    position: fixed;
    width: 100%;
    background-color: rgb(000, 000, 000,0.5);
    padding: 20px;
    z-index: 1;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
}

.header .logo a {
    font-size: 3rem;
    color: #fff;
    display: block;
}

.header-nav > .nav-list > .nav-item a {
    position: relative;
    color: #fff;
    font-size: 1.8rem;
    margin: 0 20px
}

.header-nav > .nav-list > .nav-item a::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #fff;
    opacity: 0;
    transition: all .8s cubic-bezier(.19,1,.22,1);
}

.header-nav > .nav-list > .nav-item:hover a::after {
    opacity: 1;
    width: 100%;
    left: 0;
}

.header-inner input,
.header-inner label {
    display: none;
}

/*hero start*/
.hero {
    position: relative;
    background-image: url(../../assets/images/kv.jpg);
    background-repeat: no-repeat;
    background-position: 25% 75%;
    width: 100%;
    height: 80vh;
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 5em;
    text-shadow: 10px 10px 5px #000;
}
/*hero end*/

/*concept start*/
.min-inner {
    padding-top: 120px;
}

.concept-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sec-title {
    position: relative;
    text-align: center;
    margin-bottom: 60px;
}



.concept-img {
    width: calc(50% - 40px);
}

.sub-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.sub-title::before,
.sub-title::after {
    display: inline-block;
    content: "";
    width: 32px;
    height: 2px;
    vertical-align: middle;
    background-color: #000;
}

.sub-title::before {
    margin-right: 8px;
}

.sub-title::after {
    margin-left: 8px;
}

.concept-text {
    width: calc(50% - 40px);
    height: 630px;
    overflow-y: auto;
}

.concept-text p {
    margin: 0 0 5px;
}
/*concept end*/

/*application start*/
.application > .sec-title {
    padding-top: 120px;
}

.app-img {
    width: 60%;
}

.app-img-bg {
    background-image: url(../../assets/images/main_02.jpg);
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.app-text {
    width: 40%;
}

.app-text-inner {
    position: relative;
    padding-left: 60px;
}

.app-text-inner::before {
    content: "";
    position: absolute;
    width: calc(100% + 200px);
    height: calc(100% + 200px);
    background-color: #f4f4f4;
    right: 0;
    bottom: -100px;
    z-index: -1;
}

.app-body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
/*application end*/




